// ***************************************
// Block Title
// ***************************************


// Basic Styles Center Aligned
// ------------
.block-title {
  display: block;
  text-align: left;
  position: relative;
  small {
    display: block;
    position: absolute;
    top: -13px;
    font-size: $font-size-small;
  }
  &::after,
  &::before {
    background-color: $block-title-line-color;
    height: 1px;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    bottom: -12px;
  }
  &::before {
    width: 48px;
    z-index: 6;
    background-color: $brand-primary;
  }

  // Left Aligned
  // ------------
  &.text-left {
    text-align: left;
    small {
      left: 0;
      right: auto;
    }
  }

  // Right Aligned
  // -------------
  &.text-right {
    text-align: right;
    small {
      left: auto;;
      right: 0;
    }
    &::before {
      right: 0;
    }
  }

  // Center Aligned
  // -------------
  &.text-center {
    text-align: center;
    small {
      @include center(x);
    }
    &::before {
      @include center(x);
    }
  }
}

.section-title{
  padding-top: 10px;
  &::before {
    z-index: 6;
    position: absolute;
    bottom: 1px;
    content: "";
    width: 48px;
    height: 1px;
    background-color: $brand-primary;
  }
  &::after {
    height: 1px;
    content: "";
    background-color: $block-title-line-color;
    display: block;
    position: absolute;
    width: 100%;
    bottom: 1px;
  }
}