// ***************************************
// Common
// ***************************************

html {
	font-family: Microsoft JhengHei, sans-serif !important;
}

.mobile-top-buffer {
	@media #{$nav-collapse} {
        margin-top: 20px;
	}
}

.mobile-hide {
	@media #{$nav-collapse} {
		display: none;
	}
}

/* Google Map */
.gmap_canvas {
	background: none !important;
	min-height: 400px;
}

/* Contact Us */
.contact-logo {
	width: 12%;
	float: left;
    margin-right: 20px;
}