// ***************************************
// Common
// ***************************************

.mobile-top-buffer {
	@media #{$nav-collapse} {
        margin-top: 20px;
	}
}

.mobile-hide {
	@media #{$nav-collapse} {
		display: none;
	}
}

/* Google Map */
.gmap_canvas {
	background: none !important;
	min-height: 400px;
}

/* Contact Us */
.contact-logo {
	width: 12%;
	float: left;
    margin-right: 20px;
}

/* Product Detail */
#single-item-info {
	.series-name {
		color: $brand-danger;
	}
}

.tab-content img {
    height: auto;
	width: auto;
	max-width: 650px;
}