// ***************************************
// Footer
// ***************************************


// Basic Class
// -----------
.footer {
  padding-top: $grid-vertical-step;
	border-top: 1px solid $gray-light;
	background-color: $gray-light;
	color: $gray-darker;
	.logo {
		.brandname {
			font-size: 24px;
		}
		.brandname-en {
			font-size: 18px;
		}
	}

	.widget {
		.widget-title {
			color: $gray-darker;
			font-size: 22px;
			font-weight: bold;
		}
	}

	.cat-list {
		.icon {
			font-size: 20px;
			float: left;
			margin-right: 5px;
		}
	}

	.copyright {
		margin-top: $grid-vertical-step;
		padding: ($grid-vertical-step / 2);
		text-align: center;
		font-size: 16px;
		background-color: $brand-tender-blue;
		
		.brandname-en {
			@media #{$tablet-port} {
				display: none;
			}
		}
	}
}
